/* common */

.container {
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

body {
	font-family: 'PT Sans', sans-serif;
}

/* page-header */

.page-header {
	background-color: #ffcd34;
	padding: 15px 0;
}

.logo {
	width: 20%;
	float: left;
	text-decoration: none;

}

.logo-img {
	display: inline-block;
	vertical-align: middle;	
}

.logo-brand {
	font-size: 24px;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.main-nav {
	width: 80%;
	float: right;
	text-align: right;
	font-size: 16px;
}

.main-nav li {
	display: inline-block;
}

.main-nav a {
	color: rgba(0, 0, 0, 0.55);
	padding: 0 13px;
	text-decoration: none;
}

.btn-order a {
	background-color: #ffe184;
	padding: 13px 30px;
	color: black;
}



/* subheader */

.subheader {
	background-color: #17232f;
	padding: 30px 0;
}

.subheader-left {
	float: left;
	width: 60%;
	margin-right: 5%;
}

.subheader-title {
	font-size: 26px;
	font-weight: normal;
	color: #ffcd34;
}

.subheader-text {
	color: white;
}

.subheader-right {
	float: right;
	width: 25%;
	padding-top: 20px;
}

.btn {
	padding: 12px 0;
	font-size: 18px;
	text-align: center;
}

.btn-fullwidth {
	width: 100%;
	background-color: #ffcd34;
	display: block;
	border: none;
	font-weight: bold;
	color: #202e3b; 	
}

/* catalog */

.catalog {
	background-color: #f3f3f3;
}

.catalog-nav {
	float: left;
	width: 320px;
} 

.catalog-nav-list {
	display: block;
	padding-left: 0;
}

.catalog-nav li {
	padding: 8px 0;
	list-style-type: none;
	color: #353535;
}

.catalog-nav a {
	font-size: 16px;
	color: #353535;
}

.catalog-active a {
	font-weight: bold;
	text-decoration: none;
}

.catalog-nav .download-catalog-btn {
	background-color: #354b60;
	width: 220px;
	padding: 10px 0;
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
}

.catalog-content-wrap {
	overflow: hidden;
}

.catalog-content {
	float: left;
	width: 620px;
	padding-top: 30px;
}

.catalog-item {
	position: relative;
	overflow: hidden;
	float: left;
	width: 300px;
	margin-bottom: 20px;
	background-color: white;
	padding: 0 30px 30px 30px;
	box-sizing: border-box;
}

.catalog-item:nth-child(2n+1) {
	margin-right: 20px;
}

.catalog-price {
	font-size: 18px;
	font-weight: bold;
}

.catalog-price-current {
	font-size: 27px;
	font-weight: bold;
}

.catalog-btn {
	width: 50%;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	padding: 10px 20px;
	color: white;
}

.catalog-btn-rent {
	background-color: #f3c331;
}

.catalog-btn-more {
	background-color: #354b60;
}

.pagination-wraper {
	text-align: center;
}

.catalog-pagination ul {
	display: block;
	text-align: center;
}

.catalog-pagination li {
	display: inline-block;

}

.catalog-pagination a {
	text-decoration: none;
	padding: 3px 10px;
	color: #353535;
}

.catalog-pagination .catalog-pagination-active {
	display: block;
	color: white;
	background-color: #354b60;
	border-radius: 3px;
}

.new-mark {
	position: absolute;
	top: 5px;
	right: -30px;
	transform: rotate(45deg);
	display: block;
	text-align: center;
	background-color: #00c22e;
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 100px;
	padding: 5px;
}

/* special offers*/

.special-offers-title {
	color: white;
}

.special-offers {
	background-color: gray;
}

.catalog-item-special {
	position: relative;
	overflow: hidden;
	float: left;
	width: 300px;
	margin-bottom: 4%;
	background-color: white;
	padding: 0 30px 30px 30px;
	margin-left: 20px;
	box-sizing: border-box;
}

.catalog-price del {
	color: red;
	font-size: 22px;
	font-weight: bold;
}

.catalog-price-current-special {
	font-size: 22px;
	font-weight: bold;
}

.catalog-item-special:first-child {
	margin-left: 0;
}

.catalog-item-special:last-child {
	margin-right: 0;
}

.sale-mark {
	position: absolute;
	top: 5px;
	right: -30px;
	transform: rotate(45deg);
	display: block;
	text-align: center;
	background-color: #d12222;
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 100px;
	padding: 5px;
}


/* Footer */

.page-footer {
	background-color: #202e3b;
	padding: 15px 0;
}

footer .logo-brand {
	color: white;
}

footer .main-nav a {
	color: white;
}

footer .btn-order a {
	background-color: #202e3b;
	color: #ffcd34;
}



