/* common */

.container {
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

body {
	font-family: 'PT Sans', sans-serif;
}

/* page-header */

.page-header {
	background-color: #ffcd34;
	padding: 15px 0;
	position: relative;
}

.page-header:before {
	content: "";
	position: absolute;
	display: block;
	background: repeating-linear-gradient(135deg , #ffcd34 0px, #ffcd34 10px, black 10px, black 20px);
	height: 10px;
	width: 100%;
	bottom: 0;
}

.logo {
	width: 20%;
	float: left;
	text-decoration: none;
	padding-top: 5px;

}

.logo-img {
	display: inline-block;
	vertical-align: middle;	
}

.logo-brand {
	font-size: 24px;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.main-nav {
	width: 80%;
	float: right;
	text-align: right;
	font-size: 16px;
}

.main-nav li {
	display: inline-block;
}

.main-nav a {
	color: rgba(0, 0, 0, 0.55);
	padding: 0 13px;
	text-decoration: none;
}

.btn-order a {
	background-color: #ffe184;
	padding: 13px 30px;
	color: black;
}



/* SUBHEADER */

.subheader {
	background-color: #17232f;
	padding: 30px 0;
}

.subheader-left {
	float: left;
	width: 60%;
	margin-right: 5%;
}

.subheader-title {
	font-size: 26px;
	font-weight: normal;
	color: #ffcd34;
	float: left;
}

.subheader-text {
	color: white;
	clear: both;
}

.subheader-right {
	float: right;
	width: 25%;
	padding-top: 20px;
}

.btn {
	padding: 12px 0;
	font-size: 18px;
	text-align: center;
}

.btn-fullwidth {
	width: 100%;
	background-color: #ffcd34;
	display: block;
	border: none;
	font-weight: bold;
	color: #202e3b; 	
}

/* Promo-block*/

.promo {
	height: 460px;
	text-align: center;
	background-image: url(../img/Promo_bg.png);
	background-size: cover;
	background-position: top;
	padding-top: 100px;
	box-sizing: border-box;
}

.promo .container {
	padding-bottom: 30px;
}

.promo-slogan {
	font-size: 44px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

.promo .title {
	color: #e1e1e1;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 40px;
}

.promo-btn {
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #ffcd34;
	padding: 10px 30px;
	text-decoration: none;
}


/* TECHNICK */

.technic {
	background-color: #f3f3f3;
	padding: 30px 0;
}

/* Technic-aside */

.technic-list {
	float: left;
	width: 220px;
} 

.technick-list {
	display: block;
	padding-left: 0;
}

.technic-list li {
	padding: 8px 0;
	list-style-type: none;
	color: #353535;
}

.technic-list a {
	font-size: 16px;
	color: #353535;
}

/* Techick-table */

.deals {
	width: 700px;
	float: right;            
}

.deals th {
	background-color: #dfdfdf;
	padding: 10px;
	text-align: left;
}

.deals table {
	width: 100%;
}

.deals tr:nth-child(2n+1) {
	background-color: white;
}

.deals td {
	padding: 10px;
}



/* portfolio */

.portfolio-nav {
	float: right;
	padding-top: 10px;
}

.portfolio-nav li {
	display: inline-block;
}

.portfolio-nav a {
	color: white;
	padding: 0 13px;
}


/* ABOUT */

.about {
	padding: 30px 0;
	background-color: #202e3b;
	color: white;
} 

.about-numbers {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.about-reviews {
	float: left;
	width: 620px;
}

.about p {
	font-size: 18px;
	color: #9e9e9e;
}

.about-number {
	font-size: 38px;
	color: #ffcd34;
	font-weight: bold;
}

.about-reviews-item {
	overflow: hidden;
}

.avatar-about-reviews {
	border-radius: 6px;  
	width: 120px;
	height: 120px;
	position: relative;
	overflow: hidden;
	float: left;
	clear: both;
	margin-bottom: 40px;
}

.avatar-about-reviews:before {
	content: "";
	border: 3px solid #ffcd34;
	border-radius: 6px;  
	width: 114px;
	height: 114px;
	position: absolute;
}

.about-reviews-item blockquote {
	padding-left: 100px;
	margin-top: 0;
	margin-right: 0;
	font-size: 18px;
	font-style: italic;
}

.about-reviews-item cite {
	color: #ffcd34;
	margin-top: 10px;
	display: block;
}




/* PORTFOLIO*/

.portfolio-item {
	height: 500px;
	position: relative;
}

.portfolio-item:before {
	content: "";
	width: 100%;
	height: 10px;
	top: 0;
	position: absolute;
	background-color: black;
	display: inline-block;
}

.portfolio-item-1 {
	background-image: url(../img/Portfolio-item-1.png);
	background-size: cover;

}

.portfolio-item-2 {
	background-image: url(../img/Portfolio-item-1.png);
	background-size: cover;
}

.portfolio-item-3 {
	background-image: url(../img/Portfolio-item-1.png);
	background-size: cover;
}

.portfolio-item-info {
	background-color: white;
	width: 250px;
	margin-top: 100px;
	padding: 10px 30px 30px 30px;
}

.portfolio-item-text {
	font-size: 14px;
}

.portfolio-item-more {
	background-color: #ffcd34;
	padding: 10px 20px;
	display: inline-block;
	color: #1d333f;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

/* CATALOG */

.catalog {
	background-color: #f3f3f3;
}

.catalog-nav {
	float: left;
	width: 320px;
} 

.catalog-nav-list {
	display: block;
	padding-left: 0;
}

.catalog-nav li {
	padding: 8px 0;
	list-style-type: none;
	color: #353535;
}

.catalog-nav a {
	font-size: 16px;
	color: #353535;
}

.catalog-active a {
	font-weight: bold;
	text-decoration: none;
}

.catalog-nav .download-catalog-btn {
	background-color: #354b60;
	width: 220px;
	padding: 10px 0;
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
}

.catalog-content-wrap {
	overflow: hidden;
}

.catalog-content {
	float: left;
	width: 620px;
	padding-top: 30px;
}

.catalog-item {
	position: relative;
	overflow: hidden;
	float: left;
	width: 300px;
	margin-bottom: 20px;
	background-color: white;
	padding: 0 30px 30px 30px;
	box-sizing: border-box;
}

.catalog-item:nth-child(2n+1) {
	margin-right: 20px;
}

.catalog-price {
	font-size: 18px;
	font-weight: bold;
}

.catalog-price-current {
	font-size: 27px;
	font-weight: bold;
}

.catalog-btn {
	width: 50%;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	padding: 10px 20px;
	color: white;
}

.catalog-btn-rent {
	background-color: #f3c331;
}

.catalog-btn-more {
	background-color: #354b60;
}

.pagination-wraper {
	text-align: center;
}

.catalog-pagination ul {
	display: block;
	text-align: center;
}

.catalog-pagination li {
	display: inline-block;

}

.catalog-pagination a {
	text-decoration: none;
	padding: 3px 10px;
	color: #353535;
}

.catalog-pagination .catalog-pagination-active {
	display: block;
	color: white;
	background-color: #354b60;
	border-radius: 3px;
}

.new-mark {
	position: absolute;
	top: 5px;
	right: -30px;
	transform: rotate(45deg);
	display: block;
	text-align: center;
	background-color: #00c22e;
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 100px;
	padding: 5px;
}

/* special offers*/

.special-offers-title {
	color: white;
}

.special-offers {
	background-color: gray;
}

.catalog-item-special {
	position: relative;
	overflow: hidden;
	float: left;
	width: 300px;
	margin-bottom: 4%;
	background-color: white;
	padding: 0 30px 30px 30px;
	margin-left: 20px;
	box-sizing: border-box;
}

.catalog-price del {
	color: red;
	font-size: 22px;
	font-weight: bold;
}

.catalog-price-current-special {
	font-size: 22px;
	font-weight: bold;
}

.catalog-item-special:first-child {
	margin-left: 0;
}

.catalog-item-special:last-child {
	margin-right: 0;
}

.sale-mark {
	position: absolute;
	top: 5px;
	right: -30px;
	transform: rotate(45deg);
	display: block;
	text-align: center;
	background-color: #d12222;
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 100px;
	padding: 5px;
}


/* FOOTER */

.page-footer {
	background-color: #202e3b;
	padding: 15px 0;
}

footer .logo {
	padding-top: 8px;
}

footer .logo-brand {
	color: #ffcd34;
}

footer .main-nav a {
	color: white;
}

footer .btn-order a {
	background-color: #202e3b;
	color: #ffcd34;
}



/* Consult-form */

.consult-form {
	background-color: #202e3b;
	padding: 10px 0 40px 0;
	position: relative;
}

.consult-form:before {
	content: "";
	position: absolute;
	display: block;
	background: repeating-linear-gradient(135deg , #ffcd34 0px, #ffcd34 10px, black 10px, black 20px);
	height: 10px;
	width: 100%;
	top: 0;
}

.consult-title {
	font-size: 24px;
	font-weight: normal;
	color: #ffcd34;
}

input {
	overflow: hidden;
	float: left;
 	border-color: #ffcd34;
 	background-color: #202e3b;
 	padding: 12px; 
 	width: 220px;
 	border: 1px solid #ffcd34;
 	margin-right: 20px;
 	box-sizing: border-box;
 	font-size: 16px;
 	color: white;
 }

 .btn-consult {
 	background-color: #ffcd34;
	color: #1d333f;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	float: right;
	border: none;
	width: 220px;
	height: 45px;
	font-size: 18px;
 }


/* Features */

.features {
	padding: 30px 0;
}

.features-item {
	display: inline-block;
	float: left;
	overflow: hidden;
	margin-right: 20px;
	padding-left: 60px;
	width: 220px;
	font-size: 13px;
	line-height: 16px;
	box-sizing: border-box;
}

.features-item:last-child {
	margin-right: 0;
}

.features-item-technic {
	background-image: url(../img/item-technic.png);
	background-repeat: no-repeat;
	float: left;
	background-position: 0px 17px;
}

.features-item-machines {
	background-image: url(../img/item-technic.png);
	background-repeat: no-repeat;
	float: left;
	background-position: 0px 17px;
}

.features-item-boom {
	background-image: url(../img/item-technic.png);
	background-repeat: no-repeat;
	float: left;
	background-position: 0px 17px;
}

.features-item-drivers {
	background-image: url(../img/item-technic.png);
	background-repeat: no-repeat;
	float: left;
	background-position: 0px 17px;
}

/* MAP */

.map {
	height: 200px;
}